/* GENERAL */
html, body, header nav ul {
    padding: 0;
    margin: 0;
}
body {
    margin: 90px auto;
}
header, footer {
    width: 100%;
    max-height: 80px;
    position: fixed;
    background-color: #252525;
}

/* HEADER */
header {
    top: 0;
    padding: 0 2%;
}
header > * {
    display: inline-block;
}
header h1 {
    margin-right: 2%;
}
header nav ul {
    display: flex;
    list-style: none;
}
header nav ul li {
    flex: 1;
}
header, header a, footer {
    color: #FFFFFF;
}
header nav ul li a {
    display: inline-block;
    padding: 20px;
    white-space: nowrap;
}
header a {
    text-decoration: none;
}
header > div {
    position: absolute;
    right: 80px;
    top: 25px;
    text-align: right;
    white-space: nowrap;
}
header div button {
    width: 100px;
    margin-left: 6px;
}
header div button a {
    color: #252525;
}
header nav ul .submenu {
    background-color: #252525;
    position: absolute;
    visibility: hidden;
}
header nav ul a:hover ~ .submenu, .submenu:hover {
    visibility: visible;
}

/* SECTION */
section {
    padding: 1% 2%;
}

/* FOOTER */
footer {
    text-align: center;
    bottom: 0;
    padding: 1%;
}

/* PRODUCTS */
.productContainer {
    display: inline-block;
    width: 22%;
    margin: 1% 2% 4% 1%;
    box-sizing: border-box;
    text-align: center;
}
.productContainer img {
    height: 100px;
    width: auto;
}
.productContainer figure {
    margin: 2px;
}

/* CART ITEMS */
.cartItemContainer {
    margin: 2% 0;
}
.cartItemContainer img {
    height: 40px;
    display: inline;
}
.cartItemContainer * {
    vertical-align: middle;
}