/* GENERAL */
html {
    overflow-y: scroll;
}
html, body, header nav ul {
    padding: 0;
    margin: 0;
}
header, footer {
    width: 98%;
    padding: 1% 2%;
    max-height: 80px;
    background-color: #252525;
}
body {
    margin-top: 100px;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
}
header > * {
    display: inline-block;
}
header h1 {
    margin-right: 2%;
}
header nav ul {
    display: flex;
    list-style: none;
}
header nav ul li {
    flex: 1;
}
header, header a, footer {
    color: #FFFFFF;
}
header nav ul li a {
    display: inline-block;
    padding: 20px;
    white-space: nowrap;
}
header a {
    text-decoration: none;
}
header > div {
    position: absolute;
    right: 40px;
    top: 25px;
    text-align: right;
    white-space: nowrap;
}
header div button {
    width: 100px;
    margin-left: 6px;
}
header div button a {
    color: #252525;
}
header nav ul .submenu {
    background-color: #252525;
    position: absolute;
    visibility: hidden;
}
header nav ul a:hover ~ .submenu, .submenu:hover {
    visibility: visible;
}

/* SECTION */
section {
    min-height: 420px;
    padding: 1% 2%;
}

label {
    display: inline-block;
    box-sizing: border-box;
}
label input {
    float: right;
}
form label {
    width: 48%;
    padding-right: 2%;
}
form label input {
    width: 70%;
}
form {
    width: 1000px;
}

/* FOOTER */
footer {
    text-align: center;
    bottom: 0;
    padding: 1%;
    box-shadow: #252525 0 600px 0 600px;
}

/* PRODUCTS */
.productContainer, .latestProductContainer {
    display: inline-block;
    width: 22%;
    margin: 1% 2% 4% 1%;
    box-sizing: border-box;
    text-align: center;
}
.productContainer {
    width: 22%;
}
.latestProductContainer {
    width: 30%;
}
.productContainer img {
    height: 100px;
    width: auto;
}
.productContainer figure {
    margin: 2px;
}

/* CART ITEMS */
.cartItemContainer {
    margin: 2% 0;
}
.cartItemContainer img {
    height: 40px;
    display: inline;
}
.cartItemContainer * {
    vertical-align: middle;
}

.placeOrder {
    margin-left: 50px;
}
.hidden {
    display: none;
}